<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filme - APMDb</title>

    <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon" />
  </head>
  <body class="bg-dark">
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand text-light fs-4 fw-bold" href="index.html"
          >APMDb</a
        >

        <a class="btn btn-outline-light" href="index.html">Página Inicial</a>
      </div>
    </nav>
    <div class="container d-grid gap-3 my-4">
      <!-- Cabecalho -->
      <div class="row">
        <div class="d-flex align-items-center">
          <h1 id="titulo" class="text-light">Indiana Jones e a Relíquia do Destino</h1>

          <div class="ms-auto text-end">
            <p id="votos" class="text-danger">12.200 Votos</p>
            <i id="btnFavoritos" class="bi bi-suit-heart fs-2 text-danger"></i>
          </div>
        </div>
        <small class="text-light" id="dataLancamento">12/12/2012</small>
      </div>

      <!-- Seção do Poster e Trailer -->
      <div class="row gap-3">
        <div class="col-lg-3">
          <img
            src=""
            class="img-fluid rounded-3" id="img"
            alt=""
          />
        </div>
        <div class="col-lg">
          <div class="ratio ratio-21x9 h-100">
            <iframe
              class="rounded-3"
              id="iframeTrailer"
              src=""
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>

      <div id="generos" class="d-flex gap-3 ">
      
      </div>

      <div class="row">
        <p id="texto" class="fs-5 text-light">
          
        </p>
      </div>
    </div>
  </body>
</html>